name: Run Gradle on PRs

on:
  pull_request:
    branches:
      - main

jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin

      - name: Run lint check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ktlintCheck

      - name: Run test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          files: ./app/build/reports/jacoco/test/jacocoTestReport.xml,./lib/build/reports/jacoco/test/jacocoTestReport.xml
          verbose: true

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: test-results
          path: '**/build/test-results/test/TEST-*.xml'
          reporter: java-junit

      - name: Check files are changed
        run: git diff --exit-code
